:root {
   --table-color: forestgreen;
   --row-bg-color: honeydew;
   font-family: Calibri, Myriad;
}
   
/* Your solution goes here */
/*
Creator: Nathalie Surman
Date created: 22-04-2023
last modified: 
*/

#game-table{
   border: 2px solid var(--table-color);
   text-align: center;
   height: 200px;
   width: 400px;
}

/* descendant selector that targets the <caption> inside the <table> */
table caption {
   text-transform: uppercase;
   background-color: var(--table-color);
   color: white;
   padding: 10px;
}

tr:nth-child(even) {
   background-color: var(--row-bg-color);
}
